[run]
branch = True
source =
    packages/sandbox/src
    packages/jdw-core/src
    tests

[paths]
source =
    packages/sandbox/src
    packages/jdw-core/src
    */src

[report]
show_missing = True
skip_covered = True
omit =
    */__init__.py
    tests/*
