fastapi
uvicorn[standard]
pydantic==2.*
python-dotenv
httpx[http2]
beautifulsoup4
selectolax
lxml
tenacity
anyio
streamlit
aiosqlite
sqlalchemy
orjson
phonenumbers
tldextract
python-slugify
rich
typer
playwright
exifread
pillow
pytesseract
python-magic
networkx
folium
pyvis
